

header {
    background-image: url(../../assets/images/joao-pedro-salles-sxCB2rgxtD0-unsplash.jpg);
    background-position: center center;
    background-size: cover;
    overflow: visible;
}


.container .hoover{
   transition: transform 1s;
   

}

 .container .hoover:hover{

    transform: scale(1.2);
    

}
